@import "elements.less";
@import "table-theme.less";

.tableWrapper {
    width: 100%;
    position: relative;
    top: 34px;
    left: 0;
    right: 0;
    bottom: 0px;
    .scroller {
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: @color-background;
        
        td {
            border: @table-border-tablecell;
        }
        tr {
            display: table-row;
            color: @color-text;
            &:hover {
                background-color: @color-highlight-hover;
            }
            &.selected {
                background-color: @color-table-selected-background;
            }
        }
    }

    .tableHeader {
        width: 100%;
        overflow: hidden;
        .gradient(@color-gradient-light, @color-gradient-dark, @color-gradient-light);
        table {
            table-layout: fixed;
        }
        tr {
            background-color: transparent;
            border: 1px @color-border-highlight solid;
            border-bottom: none;
            th {
                font-weight: normal;
                .user-select(none);
                border-left: @table-border-tablecell;
                &:first-child {
                    border-left: none;
                }
                &:hover {
                    text-shadow: 1px 1px @color-text-shadow;
                }
            }
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        table-layout: auto;
    }
    tr {
        background-color: @color-table-oddRow;
        &:nth-child(even) {
            background-color: @color-table-evenRow;
        }
    }
    th, td {
        text-align: left;
        margin: 0;
        padding: 4px;
        font-size: @table-font-size;
    }

}

.minWidthHeaders {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    table {
        table-layout: auto;
    }
}

td.fixed {
    width: 15px;
    max-width: 15px;
    min-width: 15px;
}
