@import "elements.less";
@import "table-theme.less";

.tableWrapper {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    border-left: 1px @color-table-cellBorder solid;
    border-right: 1px @color-table-cellBorder solid;

    .scroller {
        position: relative;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: @color-background;
        border-bottom: 1px @color-table-cellBorder solid;
        td {
            border: @table-border-tablecell;
            overflow: hidden;
            &.col-highlight {
                background-color: darken(@color-highlight-hover, 7%);
                border-color: darken(@color-highlight-hover, 2%);
            }
            .user-select(none);
        }
        tr {
            display: table-row;
            color: @color-text;
            .user-select(none);
            &:hover {
                background-color: @color-highlight-hover;
            }
            &.selected {
                background-color: @color-table-selected-background;
            }
        }
        .empty-msg {
            .user-select();
            div {
                padding: 5px 10px;
                font-style: italic;
                width: 250px;
                
                &::selector {
                    background: none;
                } 
            }
            &:hover {
                background-color: transparent;
            }
        }
    }

    .tableHeader {
        overflow: hidden;
        .gradient(@color-gradient-light, @color-gradient-dark, @color-gradient-light);
        tr {
            background-color: transparent;
            border: 1px @color-border-highlight solid;
            border-bottom: none;
            th {
                font-weight: normal;
                .user-select(none);
                border-left: @table-border-tablecell;
                overflow: hidden;
                &:first-child {
                    border-left: none;
                }
                &:hover {
                    text-shadow: 1px 1px @color-text-shadow;
                }
            }
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        table-layout: fixed;
    }
    tr {
        background-color: @color-table-oddRow;
        &:nth-child(even) {
            background-color: @color-table-evenRow;
        }
    }
    th, td {
        text-align: left;
        margin: 0;
        padding: 4px;
    }
    th {
        position: relative;
    }

    .resizeGripper {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 15px;
        cursor: col-resize;
    }
}

.col-hidden {
    display: none;
}

.column-menu {
    background-color: @color-background-menu;
    border: @table-border-column-visibility;
    position: absolute;
    overflow-y: auto;
    width: 170px;
    height: 125px;
    display: none;
    .drop-shadow(2px, 3px);
    ul {
        padding-left: 10px;
        margin: 5px 0;
        li {
            list-style: none;
            font-size: 0.75em;
        } 
    }
}

.minWidthHeaders {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}


.columnDrag {
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.25);
}
.dropLeft {
    box-shadow: inset 1em 0px 1em -0.5em rgba(0, 0, 0, 0.25);
}
.dropCenter {
    box-shadow: inset 0em 0px 0.5em 0.5em rgba(0, 0, 0, 0.25);
}
.dropRight {
    box-shadow: inset -1em 0px 1em -0.5em rgba(0, 0, 0, 0.25);
}
