<!DOCTYPE html>

<html ng-app="examples">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../dist/ng-scrolling-table.css"/>
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
            .name {
                width: 150px;
            }
        </style>
    </head>
    <body>

        <div ng-cloak ng-controller="BasicCtrl">

            <div style="margin-top: 3em;">5 Rows - 22 Columns</div>
            <table
                data-stg-scrolling-table
                data-stg-table-empty="No items found."
                data-stg-enable-column-resizing
                style="width: 100%; ">
                <thead>
                    <tr>
                        <th data-column-sortable class="name" data-col="rate">Name</th>
                        <th>Phone Number</th>
                        <th class="Phone" width="100px">Phone Number</th>
                        <th col-fixed="true">Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody >
                    <tr data-ng-repeat="c in data | limitTo: 5 track by $index" >
                        <td>{{c.name}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td width="100px">{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                    </tr>
                </tbody>
            </table>

            <div style="margin-top: 3em;">50 Rows - 22 Columns (hover over headers to highlight data columns)</div>
            <table
                data-stg-scrolling-table
                data-stg-table-selector data-multi-select="true"
                data-stg-enable-column-resizing
                data-stg-table-empty="No items found."
                style="width: 100%; max-height: 250px;">
                <thead>
                    <tr>
                        <th data-column-sortable data-col="rate" width="250px">Name</th>
                        <th width="100px">Phone Number</th>
                        <th data-stg-highlight-column>Phone Number</th>
                        <th data-stg-highlight-column>Phone Number</th>
                        <th data-stg-highlight-column>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody >
                    <tr data-ng-repeat="c in data | limitTo: 50 track by $index" >
                        <td>{{c.name}}</td>
                        <td width="100px">{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                        <td>{{c.phoneNumber.slice(0, 2)}}</td>
                    </tr>
                </tbody>
            </table>
            
            
            <div style="margin-top: 3em;">{{data.length}} Rows with Column Resizing</div>
            <table
                data-stg-scrolling-table
                data-stg-table-empty="No items found."
                data-stg-enable-column-resizing
                style="width: 100%; max-height: 250px;">
                <colgroup>
                    <col data-stg-highlight-column/>
                    <col/>
                </colgroup>
                <thead>
                    <tr>
                        <th data-stg-column-sortable data-col="rate">Name</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody >
                    <tr data-ng-repeat="c in data track by $index" >
                        <td>{{c.name}}</td>
                        <td>{{c.phoneNumber}}</td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="addRow()">Add row</button>
            
            <div style="margin-top: 3em;">Empty Table Test</div>
            <table
                data-stg-scrolling-table
                data-stg-table-empty="No items found."
                data-data="emptyValues"
                style="width: 100%; max-height: 250px;">
                <thead>
                    <tr>
                        <th data-stg-column-sortable data-col="rate">Name</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody >
                    <tr data-ng-repeat="c in emptyValues | limitTo: 10 track by $index" >
                        <td>{{c.name}}</td>
                        <td>{{c.phoneNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js"></script>
        <script src="../dist/ng-scrolling-table.js"></script>
        <script src="basic.js"></script>
        
    </body>
</html>
